@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*______________________________________________*/
body {
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.head {
  padding: 30px 0 0px 0;
  margin: 0 0 108px 0;
}
.head__row {
  background-color: #313030;
  height: 89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.head__link {
  margin: 0 50px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.035em;
  color: #e0e0e0;
}
.head__link_red {
  text-align: center;
  padding: 35px 0 0 0;
  width: 90px;
  height: 89px;
  background-color: #ff3f40;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer {
  background-color: #313030;
}
.footer__row {
  height: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__text {
  color: #b8b8b8;
  font-size: 16px;
  line-height: 26px;
}
.footer__social {
  word-spacing: 18px;
}
.our {
  background: #f6f2f2;
  height: 688px;
}
.our__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.our__column {
  padding: 0 -56px;
}
.our__item {
  margin: 0 56px 0 0;
}
.our__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.our__title {
  margin: 0 0 36px 0;
  font-size: 60px;
  line-height: 72px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}
.our__titlep:last-child {
  letter-spacing: 0.1em;
}
.our__text {
  margin: 0 0 58px 0;
}
.our__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  width: 551px;
  height: 356px;
  opacity: 0.3;
  -webkit-box-shadow: 0px -8px 30px 15px #666464;
          box-shadow: 0px -8px 30px 15px #666464;
  background-color: #000000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.our__icon {
  width: 70px;
  height: 69px;
  opacity: 0.8;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.text {
  font-size: 16px;
  line-height: 28px;
  opacity: 0.7;
}

.button {
  display: inline-block;
  width: 227px;
  height: 55px;
  background-color: #ff2d2d;
  border-radius: 5px;
  font-size: 18.2px;
  line-height: 34px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 9px 0;
}